//Color
$primary-color: #3A86FF;
$secondary-color : #E6F0FA;
$background-color: #FAFAFA;

//Size
$size-text: 17px;
$size-title: 75px;
$size-subtitle: 40px;

//Police
$text-font: 'Montserrat', sans-serif;
$title-font: 'Baloo 2', cursive;