@use '../../styles/abstracts/var';

.read{
    background-color: var.$background-color;
    padding: 20px;
    @media (min-width: 769px){
        padding: 40px 50px;
    }
    @media (min-width: 1001px) {
        padding: 40px 100px;
    }
    &__title{
        padding-bottom: 24px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        gap: 18px;
        @media (min-width: 769px){
            flex-direction: row;
            flex-wrap: wrap;
            & > * {
                flex: 1 1 calc(33.33% - 12px); // 3 par ligne, avec un petit gap
                max-width: calc(33.33% - 12px);
            }
        }
    }
}